.link-content {
  display:table;
}

.link-col {
  display:table-cell;
  vertical-align: middle;
  padding:0 10px;
}

.updown {
  display: inline-block;
  width:16px;
  margin:0 10px;
}

.modal-footer-msg {
  float:left;
}

.nav-search {
  padding:8px;
  margin:8px;
}

.authbtn {
  position:relative;
  top: 50%;
  transform:translateY(-50%);
  width:100px;
  height:25px;
  margin:10px 10px;
}

.submit-container{
  width:500px;
}


