.link-content {
  display:table;
}

.link-col {
  display:table-cell;
  vertical-align: middle;
  padding:0 10px;
}

.updown {
  display: inline-block;
  width:16px;
  margin:0 10px;
}

.modal-footer-msg {
  float:left;
}

.nav-search {
  padding:8px;
  margin:8px;
}

.authbtn {
  width:100px;
  margin:0 10px;
}

